@page
@model ho.Pages.Home.CreateDefectsInfoModel
@{
}
<br>
<h2>New DefectInfo</h2>
@if (Model.errorMes.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMes</strong>
        <button type="button" class="btn-close" data-bs-dismis="alert" aria-label="Close"></button>
    </div>
}
<form method="POST">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Type" value="@Model.defectstInfo.Type">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">DefectLong</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="DefectLong" value="@Model.defectstInfo.DefectLong">
        </div>
    </div>

    @if (Model.succsessMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.succsessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Accept</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>

</form>