@page
@model ho.Pages.Home.MarksModel
@{
}
<br>
<h2> Marks </h2>
<a class='btn btn-primary btn-sm' href='CreateMarksTypes'>New Mark</a>
<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listMarks)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="EditMark?id=@item.ID">Edit</a>
                    <a class="btn btn-primary btn-sm" href="DeleteMarks?id=@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>